body, button, input, optgroup, select, textarea {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

p {
    font-size: 16px;
}

.brand-logo, h3, h4 {
    font-family: 'Courgette', cursive;
    font-weight: 400;
}

.sidenav {
    width: 250px;
}

.sidenav li>a>i {
    margin: 0 16px 0 0;
}

span.subheader {
    padding-left: 32px;
}

.indent {
    margin-left: 20px;
}

.detail-image {
    max-height: 200px;
    overflow: hidden;
}

.detail-image img {
    width: 100%;
}

.flashes {
    padding: 10px;
    margin: 0 auto;
}

i[onclick] {
    cursor: pointer;
}

p a {
    color: rgb(18, 138, 156);
}

.flashes i {
    margin: 0;
    font-size: 30px;
}

.flashes p {
    margin: 10px 30px 10px 30px;
    font-size: 20px;
}

.card, .card-image, .card-action, .card .card-action:last-child {
    border-radius: 20px;
}

.card .card-image {
    height: 150px;
    overflow: hidden;
}

.card .card-content {
    height: 150px;
    overflow: auto;
}

.card .card-action i {
    color: dimgrey;
}

.card .card-content, .card .card-reveal {
    padding: 10px 20px;
}

.card .card-action .row {
    margin: 0;
}

.card .card-action .col {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.card-content .circle, .sidenav .user-view .circle {
    height: unset;
    width: unset;
    max-height: 64px;
    max-width: 128px;
}

.card-panel {
    padding: 10px;
}

.tags .col {
    padding: 0.75rem 0;
}

.tags label {
    padding: 0 10px;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span, [type="checkbox"]+span:not(.lever) {
    padding-left: 25px;
}

.form, .details {
    padding: 24px;
}

.form .label {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.form .label i {
    font-size: 2rem;
    width: 3rem;
}

.categories-container label.btn {
    padding: 0 7px;
}

.no-margin {
    margin: unset;
}

ul.row, ol.row {
    margin-top: unset;
}

ol.row {
    padding-inline-start: 2rem;
}

ol li.col.s12 {
    padding-left: 0;
}

ol.row .label.col.s12 {
    margin-left: -1.25rem;
}

.li-container, .input-container {
    display: flex;
    align-items: center;
}

.input-field.col.s11 {
    margin-left: 0;
}

li.col.s12 i {
    font-size: 2rem;
    padding: 0;
}

.form button, .form a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button i, .form a i {
    padding: 0 0 0 10px;
}

.profile.circle {
    max-width: 100%;    
}

.details .buttons .btn {
    margin-bottom: 10px;
}

.deep-red {
    background-color: #380000;
}

.deep-red:hover {
    background-color: #380000;
}

.deep-red:visited {
    background-color: #380000;
}

footer .contact.btn {
    font-weight: bolder;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-links i {
    font-size: 32px;
    padding: 0 16px;
}

.hidden {
    display: none;
}   