body {
    font-family: 'Nunito', sans-serif;
}

.brand-logo, h3 {
    font-family: 'Courgette', cursive;
}

.sidenav {
    width: 250px;
}

.sidenav li>a>i {
    margin: 0 16px 0 0;
}

.indent {
    margin-left: 20px;
}

.card, .card-image, .card-action, .card .card-action:last-child {
    border-radius: 20px;
}

.card .card-image {
    height: 150px;
    overflow: hidden;
}

.card .card-content {
    height: 150px;
}

.card .card-action i {
    color: dimgrey;
}

.card .card-action .row {
    margin: 0;
}

.card .card-action .col {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.tags .col {
    padding: 0.75rem 0;
}

.page-footer {
    background-color: #380000;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-links i {
    font-size: 32px;
    padding: 0 16px;
}