{% extends "base.html" %}
{% block content %}
    <h3 class="center-align teal-text text-darken-4">Add Recipe</h3>
    
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="card-panel form">
                <!-- recipe_name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">title</i>
                        <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
                <!-- recipe_description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">subject</i>
                        <textarea id="recipe_description" name="recipe_description"
                            class="materialize-textarea validate" required></textarea>
                        <label for="recipe_description">Description</label>
                    </div>
                </div>
                <!-- categories -->
                <div class="row">
                    <div class="col s12 label">
                        <i class="material-icons teal-text text-darken-4">view_stream</i>Categories
                    </div>
                </div>
                <div class="row">
                    {% for category in categories %}
                    <div class="col s12 m6 l4 center-align">
                        <div class="row">
                            <label class="btn {{ category.category_color }} black-text">
                                <input type="checkbox" name="category_name" value="{{ category.category_name }}">
                                <span>{{ category.category_name }}</span>
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- ingredients -->
                <div class="row no-margin">
                    <div class="col s12 label">
                        <i class="material-icons teal-text text-darken-4">toc</i>Ingredients
                    </div>
                </div>
                <ul class="row" id="ingredients">
                    <li class="col s12">
                        <input class="col s10" type="text" name="ingredient">
                        <i class="col s1 material-icons add" onclick="add(event)">add</i>
                        <i class="col s1 material-icons remove" onclick="remove(event)">remove</i>
                    </li>
                </ul>
                <!-- instructions -->
                <div class="row no-margin">
                    <div class="col s12 label">
                        <i class="material-icons teal-text text-darken-4">view_list</i>Instructions
                    </div>
                </div>
                <ol class="row" id="instructions">
                    <li class="col s12">
                        <input class="col s10" type="text" name="instruction">
                        <i class="col s1 material-icons add" onclick="add(event)">add</i>
                        <i class="col s1 material-icons remove" onclick="remove(event)">remove</i>
                    </li>
                </ol>
                <!-- serves -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">people</i>
                        <input id="serves" name="serves" type="number" class="validate" required>
                        <label for="serves">Serves</label>
                        <span class="helper-text" data-error="People must be whole numbers" data-success="">People</span>
                    </div>
                </div>
                <!-- prep_time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">timer</i>
                        <input id="prep_time" name="prep_time" type="number" class="validate" required>
                        <label for="prep_time">Prep Time</label>
                        <span class="helper-text" data-error="Minutes must be whole numbers" data-success="">Minutes</span>
                    </div>
                </div>
                <!-- cook_time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">timelapse</i>
                        <input id="cook_time" name="cook_time" type="number" class="validate" required>
                        <label for="cook_time">Cook Time</label>
                        <span class="helper-text" data-error="Minutes must be whole numbers" data-success="">Minutes</span>
                    </div>
                </div>
                <!-- photo_url -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">photo</i>
                        <input id="photo_url" name="photo_url" type="url" class="validate">
                        <label for="photo_url">Photo URL Link (optional)</label>
                    </div>
                </div>
                <!-- submit -->
                <div class="row">
                    <button type="submit" class="col s10 offset-s1 teal darken-4 btn-large">
                        Submit
                        <i class="material-icons prefix white-text">forward</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}