<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:ital,wght@0,300;1,300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Project 3</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper teal darken-4">
                    <a href="{{ url_for('home') }}" class="brand-logo center white-text">CookBook</a>
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large right">
                        <i class="material-icons white-text">menu</i>
                    </a>
                </div>
            </nav>
        </div>
        
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background teal darken-4">
                    </div>
                    {% if user %}
                        <a href="{{ url_for('profile') }}">
                            {% if user.photo_url %}
                            <img class="circle" src="{{ user.photo_url }}" alt="Profile">
                            {% else %}
                            <img class="circle" src="{{ url_for('static', filename='images/blankprofile.webp') }}" alt="Profile">
                            {% endif %}
                        </a>
                        <span class="white-text">{{ user.f_name }} {{ user.l_name }}</span>
                        <span class="white-text email">{{ user.username }}</span>
                    {% endif %}
                </div>
            </li>
            <li><a class="subheader">Menu</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="{{ url_for('recipes') }}"><i class="fa-solid fa-bowl-food"></i>Recipes</a></li>
            {% if user %}
                <li><a href="{{ url_for('add_recipe') }}" class="indent"><i class="fa-solid fa-plus"></i></i>Add Recipe</a></li>
            {% endif %}
                <li><a href="{{ url_for('categories') }}"><i class="fa-solid fa-layer-group"></i>Categories</a></li>
            {% if user %}
                {% if user.is_super or user.is_admin %}
                    <li><a href="{{ url_for('add_category') }}" class="indent"><i class="fa-solid fa-plus"></i>Add Category</a></li>
                {% endif %}
                {% if user.is_admin %}
                    <li><a href="{{ url_for('users') }}"><i class="fa-solid fa-users"></i>Users</a></li>
                    <li><a href="{{ url_for('messages') }}"><i class="fa-solid fa-envelopes-bulk"></i>Messages</a></li>
                {% endif %}
            {% endif %}
            <li><a href="{{ url_for('contact') }}"><i class="fa-regular fa-envelope"></i>Get in touch</a></li>
            <li>
                <div class="divider"></div>
            </li>
            {% if user %}
                <li><a href="#sign-out-modal" class="modal-trigger"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sign Out</a></li>
            {% else %}
                <li><a href="{{ url_for('sign_in') }}"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign In</a></li>
                <li><a href="{{ url_for('register') }}"><i class="fa-solid fa-user-plus"></i>Register</a></li>
            {% endif %}
        </ul>
        
    </header>
    {% if user %}
    <div id="sign-out-modal" class="modal">
        <div class="modal-content">
            <h4>{{ user.username }}</h4>
            <p>Are you sure you want to sign out?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="{{ url_for('sign_out') }}" class="waves-effect waves-red btn-flat">Sign Out</a>
        </div>
    </div>
    {% endif %}
    <!-- Main section to contain template extensions -->
    <main>
        <section>
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes teal lighten-4">
                            <h4 class="center-align">
                                {{ message }}
                            </h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
        {% block content %}

        {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="page-footer deep-red">
        <div class="container center-align">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Get in touch!</h5>
                    <p class="grey-text text-lighten-4">
                        Want to talk to us about any of the recipes on our site, got some suggestions for us or just want to say hi, get in touch <a href="{{ url_for('contact') }}">here!</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Social Media</h5>
                    <ul class="social-links">
                        <li>
                            <a class="grey-text text-lighten-3" href="http://www.instagram.com" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="http://www.facebook.com" target="_blank">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="http://www.youtube.com" target="_blank">
                                <i class="fa-brands fa-square-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright center-align amber lighten-5 teal-text text-darken-4">
            <div class="container">
                © 2023 Copyright - Paul Woods <br>
                Site built for educational purposes
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/1704febde4.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>