{% extends "base.html" %}
{% block content %}
<section>
    <h3 class="center-align teal-text text-darken-4">Home</h3>

    <h4 class="center-align teal-text text-darken-4">New Recipes</h4>
    <div class="row">
        {% for new_recipe in new_recipes %}
        <!-- New Recipe Card -->
        <div class="col s12 m6 l4">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if new_recipe.photo_url %}
                    <img class="activator" src="{{ new_recipe.photo_url }}">
                    {% else %}
                    <img class="activator" src="{{ url_for('static', filename='images/dinnertable.webp') }}">
                    {% endif %}
                </div>
                <!-- Card Content -->
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ new_recipe.recipe_name }}<i
                            class="material-icons right">more_vert</i></span>
                    <p>
                        <em>{{ new_recipe.created_by.username }} -
                            {{ new_recipe.created_date.day }}/{{ new_recipe.created_date.month }}/{{ new_recipe.created_date.year }}</em><br>
                            Total time: {{ new_recipe.prep_time + new_recipe.cook_time }} Minutes<br>
                            Serves: {{ new_recipe.serves }} People
                    </p>
                </div>
                <!-- Card Action -->
                <div class="card-action amber lighten-5">
                    <div class="row">
                        {% if user %}
                            {% if user.user_id in new_recipe.likes.id %}
                            <div class="col s3 center-align">
                                <a href="{{ url_for('recipe_like', recipe_id=new_recipe._id) }}"><i
                                        class="material-icons pink-text">favorite</i></a>
                                <span>{{ new_recipe.likes.count }}</span>
                            </div>
                            {% else %}
                            <div class="col s3 center-align">
                                <a href="{{ url_for('recipe_like', recipe_id=new_recipe._id) }}"><i
                                        class="material-icons">favorite</i></a>
                                <span>{{ new_recipe.likes.count }}</span>
                            </div>
                            {% endif %}
                        {% else %}
                        <div class="col s3 center-align">
                            <span class="tooltipped" data-position="bottom" data-tooltip="Likes">
                                <i class="material-icons">favorite</i>
                            </span>
                            <span>{{ new_recipe.likes.count }}</span>
                        </div>
                        {% endif %}
                        <div class="col s3 center-align">
                            <a href="{{ url_for('recipe_details', recipe_id=new_recipe._id) }}" class="tooltipped" data-position="bottom" data-tooltip="See full recipe"><i class="material-icons">open_in_new</i></a>
                        </div>
                        <!-- {% if user %} -->
                            {% if user and new_recipe.created_by.user_id == user.user_id or user.is_admin %}
                            <div class="col s3 center-align">
                                <a href="{{ url_for('edit_recipe', recipe_id=new_recipe._id) }}" class="tooltipped" data-position="bottom" data-tooltip="Edit">
                                    <div>
                                    <i class="material-icons green-text text-darken-2">edit</i>
                                    </div>
                                </a>
                            </div>
                            <div class="col s3 center-align">
                                <a href="{{ url_for('delete_recipe', recipe_id=new_recipe._id) }}" class="tooltipped" data-position="bottom" data-tooltip="Delete"><i
                                        class="material-icons red-text text-darken-4">delete</i></a>
                            </div>
                            {% endif %}
                        <!-- {% endif %} -->
                    </div>
                </div>
                <!-- Card Reveal -->
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ new_recipe.recipe_name }}<i
                            class="material-icons right">close</i></span>
                    <p>{{ new_recipe.recipe_description }}</p>
                    {% for category in new_recipe.categories %}
                    <a href="{{ url_for('filter_recipes', category_name=category.category_name) }}">
                        <div class="card-panel black-text center-align {{ category.category_color }}">{{ category.category_name }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h4 class="center-align teal-text text-darken-4">Most Liked Recipes</h4>
    <div class="row">
        {% for popular_recipe in popular_recipes %}
        <!-- Popular Recipe Card -->
        <div class="col s12 m6 l4">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if popular_recipe.photo_url %}
                    <img class="activator" src="{{ popular_recipe.photo_url }}">
                    {% else %}
                    <img class="activator" src="{{ url_for('static', filename='images/dinnertable.webp') }}">
                    {% endif %}
                </div>
                <!-- Card Content -->
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ popular_recipe.recipe_name }}<i
                            class="material-icons right">more_vert</i></span>
                    <p>
                        <em>{{ popular_recipe.created_by.username }} -
                            {{ popular_recipe.created_date.day }}/{{ popular_recipe.created_date.month }}/{{
                            popular_recipe.created_date.year }}</em><br>
                            Total time: {{ popular_recipe.prep_time + popular_recipe.cook_time }} Minutes<br>
                            Serves: {{ popular_recipe.serves }} People
                    </p>
                </div>
                <!-- Card Action -->
                
                <div class="card-action amber lighten-5">
                    <div class="row">
                        {% if user %}
                        {% if user.user_id in popular_recipe.likes.id %}
                        <div class="col s3 center-align">
                            <a href="{{ url_for('recipe_like', recipe_id=popular_recipe._id) }}"><i
                                    class="material-icons pink-text">favorite</i></a>
                            <span>{{ popular_recipe.likes.count }}</span>
                        </div>
                        {% else %}
                        <div class="col s3 center-align">
                            <a href="{{ url_for('recipe_like', recipe_id=popular_recipe._id) }}"><i
                                    class="material-icons">favorite</i></a>
                            <span>{{ popular_recipe.likes.count }}</span>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="col s3 center-align">
                            <span class="tooltipped" data-position="bottom" data-tooltip="Likes">
                                <i class="material-icons">favorite</i>
                            </span>
                            <span>{{ popular_recipe.likes.count }}</span>
                        </div>
                        {% endif %}
                        <div class="col s3 center-align">
                            <a href="{{ url_for('recipe_details', recipe_id=popular_recipe._id) }}" class="tooltipped" data-position="bottom" data-tooltip="See full recipe">
                                <i class="material-icons">open_in_new</i>
                            </a>
                        </div>
                        <!-- {% if user %} -->
                        {% if user and popular_recipe.created_by.user_id == user.user_id %}
                        <div class="col s3 center-align">
                            <a href="{{ url_for('edit_recipe', recipe_id=popular_recipe._id) }}" class="tooltipped"
                                data-position="bottom" data-tooltip="Edit">
                                    <i class="material-icons green-text text-darken-2">edit</i>
                            </a>
                        </div>
                        <div class="col s3 center-align">
                            <a href="{{ url_for('delete_recipe', recipe_id=popular_recipe._id, page='home') }}" class="tooltipped"
                                data-position="bottom" data-tooltip="Delete"><i class="material-icons red-text text-darken-4">delete</i></a>
                        </div>
                        {% endif %}
                        <!-- {% endif %} -->
                    </div>
                </div>
                <!-- Card Reveal -->
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ popular_recipe.recipe_name }}<i
                            class="material-icons right">close</i></span>
                    <p>{{ popular_recipe.recipe_description }}</p>
                    {% for category in popular_recipe.categories %}
                    <a href="{{ url_for('filter_recipes', category_name=category.category_name) }}">
                        <div class="card-panel black-text center-align {{ category.category_color }}">{{ category.category_name }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}