{% extends "base.html" %}
{% block content %}
    <h3 class="center-align teal-text text-darken-4">Recipes</h3>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Add new recipe
                <a href="{{ url_for('add_recipe') }}" class="teal-text text-darken-4">Here!</a>
            </p>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='images/contactTabletLandscape.png') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s3 center-align">
                            <a href="#"><i class="material-icons">favorite</i></a>
                        </div>
                        <div class="col s3 center-align">
                            <a href="#"><i class="material-icons">add</i></a>
                        </div>
                        <div class="col s3 center-align">
                            <a href="#"><i class="material-icons">edit</i></a>
                        </div>
                        <div class="col s3 center-align">
                            <a href="#"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">close</i></span>
                    <p>{{ recipe.recipe_description }}</p>
                    {% for category in recipe.categories %}
                    <div class="col s12 center-align">
                        <div class="btn {{ category.category_color }}">{{ category.category_name }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}