{% extends "base.html" %}
{% block content %}
<h3 class="center-align teal-text text-darken-4">{{ recipe.recipe_name }}</h3>
<p class="center-align">By: <em>{{ recipe.created_by.username }}</em></p>

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel details">
            <!-- Title Image -->
            <div class="title row">
                <div class="detail-image col s12">
                    {% if recipe.photo_url %}
                    <img src="{{ recipe.photo_url }}" alt="{{ recipe.title }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/dinnertable.webp') }}" alt="Dinner Table">
                    {% endif %}
                </div>
            </div>
            <!-- Timing and Serving -->
            <div class="row">
                <div class="col s12 l4">
                    <p class="center-align">
                        Prep Time: {{ recipe.prep_time }} Minutes
                    </p>
                </div>
                <div class="col s12 l4">
                    <p class="center-align">
                        Cook Time: {{ recipe.cook_time }} Minutes
                    </p>
                </div>
                <div class="col s12 l4">
                    <p class="center-align">
                        Serves: {{ recipe.serves }} People
                    </p>
                </div>
            </div>
            <!-- Collapsible -->
            <div class="row">
                <div class="col s10 offset-s1">
                    <ul class="collapsible expandable">
                        <!-- Description -->
                        <li>
                            <div class="collapsible-header teal darken-4 white-text">
                                <i class="material-icons">subject</i>
                                Description
                            </div>
                            <div class="collapsible-body">
                                <p>{{ recipe.recipe_description }}</p>
                            </div>
                        </li>
                        <!-- Ingredients -->
                        {% if recipe.ingredients|length > 0 %}
                        <li>
                            <div class="collapsible-header teal darken-4 white-text">
                                <i class="material-icons">toc</i>
                                Ingredients: {{ recipe.ingredients|length }}
                            </div>
                            <div class="collapsible-body">
                                <ul>
                                    {% for ingredient in recipe.ingredients %}
                                    <li>{{ ingredient }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        <!-- Instructions -->
                        {% if recipe.instructions|length > 0 %}
                        <li>
                            <div class="collapsible-header teal darken-4 white-text">
                                <i class="material-icons">toc</i>
                                Instructions: {{ recipe.instructions|length }}
                            </div>
                            <div class="collapsible-body">
                                <ol>
                                    {% for instruction in recipe.instructions %}
                                    <li>{{ instruction }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </li>
                        {% endif %}
                        <!-- Categories -->
                        <li>
                            <div class="collapsible-header teal darken-4 white-text">
                                <i class="material-icons">toc</i>
                                Categories: {{ recipe.categories|length }}
                            </div>
                            <div class="collapsible-body">
                                {% for category in recipe.categories %}
                                <a href="{{ url_for('filter_recipes', category_name=category.category_name) }}">
                                    <div class="card-panel black-text center-align {{ category.category_color }}">
                                        {{ category.category_name }}
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% if user %}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large teal darken-4 white-text">
        <i class="large material-icons">more_vert</i>
    </a>
    <ul>
        {% if user.user_id in recipe.likes.id %}
        <li>
            <a class="btn-floating deep-red" href="{{ url_for('recipe_like', recipe_id=recipe._id) }}"><i class="material-icons pink-text">favorite</i></a>
        </li>
        {% else %}
        <li>
            <a class="btn-floating deep-red" href="{{ url_for('recipe_like', recipe_id=recipe._id) }}"><i class="material-icons white-text">favorite</i></a>
        </li>
        {% endif %}
        {% if recipe.created_by.user_id == user.user_id or user.is_admin %}
        <li>
            <a class="btn-floating deep-red" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"><i class="material-icons green-text">edit</i></a>
        </li>
        <li>
            <a class="btn-floating deep-red modal-trigger" href="#modal"><i class="material-icons red-text text-darken-2">delete</i></a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
<div id="modal" class="modal">
    <div class="modal-content">
        <h4>{{ recipe.recipe_name }}</h4>
        <p>Are you sure you want to delete "{{ recipe.recipe_name }}"? This action cannot be undone.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-red btn-flat">Delete</a>
    </div>
</div>

{% endblock %}