{% extends "base.html" %}
{% block content %}

    <h3 class="center-align teal-text text-darken-4">Register</h3>
    
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel form">
                <div class="row">
                    <!-- f_name -->
                    <div class="input-field col s6">
                        <i class="material-icons prefix teal-text text-darken-4">account_circle</i>
                        <input id="f_name" name="f_name" type="text" class="validate" required>
                        <label for="f_name">First Name</label>
                    </div>
                    <!-- l_name -->
                    <div class="input-field col s6">
                        <input id="l_name" name="l_name" type="text" class="validate" required>
                        <label for="l_name">Last Name</label>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">email</i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email Address</label>
                    </div>
                </div>
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">assignment_ind</i>
                        <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$" minlength="5"
                            maxlength="15" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">key</i>
                        <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{5,15}$" minlength="5"
                            maxlength="15" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- password_check -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">key</i>
                        <input id="password_check" name="password_check" type="password" pattern="^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15"
                            class="validate" required>
                        <label for="password_check">Re-type Password</label>
                    </div>
                </div>
                <!-- photo_url -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">photo</i>
                        <input id="photo_url" name="photo_url" type="text" class="validate">
                        <label for="photo_url">Photo URL Link (optional)</label>
                    </div>
                </div>
                <!-- Register -->
                <div class="row">
                    <button type="reset" class="col s5 deep-red btn-large">
                        Clear
                        <i class="material-icons white-text">undo</i>
                    </button>
                    <button type="submit" class="col s5 right teal darken-4 btn-large">
                        Register
                        <i class="material-icons white-text">forward</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('sign_in') }}" class="teal-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>


{% endblock %}