{% extends "base.html" %}
{% block content %}
    <h3 class="center-align teal-text text-darken-4">Sign In</h3>
    <p class="center-align">
        No account?
        <a href="{{ url_for('register') }}" class="teal-text text-darken-4">Sign up!</a>
    </p>
    
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_in') }}">
            <div class="card-panel form">
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">email</i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email Address</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row input-container">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">key</i>
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="col s1">
                        <i class="material-icons teal-text text-darken-4" onclick="visibility(event)">visibility</i>
                    </div>
                </div>
                <!-- Register -->
                <div class="row">
                    <button type="submit" class="col s10 offset-s1 teal darken-4 btn-large">
                        Sign In
                        <i class="material-icons prefix white-text">forward</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}